<div class="nav-div">
  <nav>
    <a [routerLink]=" ['./'] "
    routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    Index
    </a>
    <a [routerLink]=" ['./home'] "
    routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    Home
    </a>
    <a [routerLink]=" ['./detail'] "
    routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    Detail
    </a>
    <a [routerLink]=" ['./barrel'] "
    routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    Barrel
    </a>
    <a [routerLink]=" ['./about'] "
    routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    About
    </a>
    <a [routerLink]=" ['./survey'] "
    routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    Survey
    </a>
    <a *ngIf="showDevModule" [routerLink]=" ['./dev-module'] "
     routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    DevModule
    </a>
  </nav>
</div>

<div class="main-background">
  <div class="main-window">
    <main>
        <router-outlet></router-outlet>
    </main>
  </div>  
</div>

<pre class="app-state">this.appState.state = {{ appState.state | json }}</pre>

<footer>
  Major Pain yo
</footer>